<div class="hero-carousel-container">

    <carousel  [cellsToShow]="1"  [dots]="true" [arrows]="false" [autoplayInterval]="2500" [margin]="0" [freeScroll]="false" [pauseOnHover]="false" [loop]="true" [cellsToScroll]="1" [lightDOM]="true" [autoplay]="true" >
        <div class="carousel-cell">
            <img src="../../assets/carouselImage/Property 1=movie 1.jpg" class="carousel-img">
            <!-- <div class="movie-info-container">
                <h2 class="text-3xl text-white movie-name"><span class="six-logo">6</span> Underground</h2>
            </div> -->
        </div>
        <div class="carousel-cell">
            <img src="../../assets/carouselImage/Property 1=movie 3.jpg" alt="" class="carousel-img">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/carouselImage/Property 1=movie 2.jpg" alt="" class="carousel-img">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/carouselImage/Property 1=movie 4.jpg" alt=""class="carousel-img">
        </div>
    </carousel>
</div>